# 样本与磁盘镜像（禁止入库）
*.exe
*.dll
*.sys
*.scr
*.elf
*.so
*.bin
*.img
*.iso
*.vmdk
*.vdi
*.qcow2
*.apk
*.dex
*.jar
*.class
*.pyc
*.pyinstaller
*.msi
*.pcap
*.pcapng
*.dump
*.dmp
*.mem
*.vmem
samples/
!docs/**/*.md

# 密钥与本地
.env
*.pem
*.key
.venv/
venv/
__pycache__/
.mkdocs_cache/
site/
.DS_Store
Thumbs.db
.idea/
.vscode/
